.what_i_do {
    margin-top: 50px;
}

.description h2 {
    padding-left: 15px;
    border-left: 3px solid var(--alternative-color);
}

.description p a {
    text-decoration: none;
    color: var(--alternative-color);
    font-weight: 500;
    cursor: pointer;
}

.skills {
    margin-top: 30px;
}

@media screen and (min-width: 960px) {
    .what_i_do {
        margin-top: 80px;
    }

    .description p a:hover {
        text-decoration: underline;
    }

    .skills {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}