.description span {
    display: block;
    margin-top: .5em;
    color: var(--main-text-color);
    font-size: 1.5em;
    font-weight: 400;
}

.description p a {
    text-decoration: none;
    color: var(--alternative-color);
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
}

.profile {
    margin: 0 auto;
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('../../assets/img/profile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 960px) {
    .about_me {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .description span {
        font-size: 1.7em;
    }

    .description p {
        max-width: 850px;
    }

    .description p a:hover {
        text-decoration: underline;
    }

    .profile {
        width: 350px;
        height: 350px;
        margin: 0;
    }

    .actions {
        justify-content: flex-start;
    }
}