.card {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    margin: 20px 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    transition: all .3s ease;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.desc {
    padding: 20px;
}

.desc span {
    color: #000;
    font-size: 1em;
    font-weight: 700;
}

@media screen and (min-width: 960px) {
    .card {
        width: calc(33.3% - 30px);
        margin: 15px;
    }

    .card:hover {
        opacity: 0.9;
        box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    }

    .desc span {
        font-size: 1.2em;
    }
}