.card {
    margin: 30px 0;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    pointer-events: none;
}

.card span {
    display: block;
    margin-top: .5em;
    font-size: 1em;
    font-weight: 700;
}

@media screen and (min-width: 960px) {
    .card {
        width: calc(33.3% - 30px);
        margin: 15px;
    }

    .card span {
        font-size: 1.2em;
    }
}