.description h1 {
    text-align: center;
}

.description p {
    text-align: center;
}

.description p span {
    text-decoration: none;
    color: var(--alternative-color);
    font-weight: 500;
}

.social_channels {
    margin-top: 15px;
}

.social_channels p {
    text-align: center;
}

.social_channels>div {
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

@media screen and (min-width: 960px) {}