.description h2 {
    text-align: center;
    font-size: 1.6em;
}

.description p {
    margin-top: 15px;
    text-align: center;
    color: var(--main-text-color);
}

.description p span {
    text-decoration: none;
    color: var(--alternative-color);
    font-weight: 500;
}

.social_channels {
    margin-top: 15px;
}

.social_channels p {
    text-align: center;
}

.links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links img {
    margin: 0 5px;
    width: 25px;
    height: auto;
}