.description h2 {
    text-align: center;
    font-size: 1.6em;
}

.description p {
    margin-top: 15px;
    text-align: center;
    color: var(--main-text-color);
}

.description p span {
    text-decoration: none;
    color: var(--alternative-color);
    font-weight: 500;
}

.social_channels {
    margin-top: 15px;
}

.social_channels p {
    text-align: center;
}

.links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    margin: 0 10px;
}

.links img {
    width: 25px;
    height: auto;
}

@media screen and (min-width: 960px) {
    .description h2 {
        font-size: 2.4em;
    }

    .description p {
        font-size: 1.4em;
    }

    .links {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links img {
        width: 35px;
    }
}