.nav_container {
    background-color: var(--alternative-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

.header_menu {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #fff;

    position: relative;
    z-index: 999;
}

.header_menu button {
    background: none;
    border: 1px solid #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
}

.header_menu button svg {
    color: #fff;
    font-size: 3.2em;
}

.header_menu h3 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.4em;
}

.nav {
    background-color: var(--alternative-color);
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
}

.nav.close_menu {
    display: none;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 15px 0;
}

.nav a {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
}

.nav a svg {
    display: none;
}