@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7F00FE;
    --complementary-color: #7FFE00;
    --accent-color: #FE00FE;
}

h1,
h2,
p,
a {
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
    }

    #container {
        flex: 1;
        padding: 80px;
    }
}