@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ccc;
    --alternative-color: #4CAF50;
    --accent-color: #009688;
    --main-text-color: #333;
}

h1,
h2,
h3,
p,
a,
span {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {}