@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7F00FE;
    --complementary-color: #7FFE00;
    --accent-color: #FE00FE;
}

:root h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

body {}

#container {
    height: 100vh;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
    }

    #container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px;
    }
}