.featured_projects {
    margin-top: 50px;
}

.featured_projects h2 {
    padding-left: 15px;
    border-left: 3px solid var(--alternative-color);
}

@media screen and (min-width: 960px) {
    .featured_projects {
        margin-top: 80px;
    }
}