.footer {
    border-top: 1px solid var(--primary-color);
    padding: 20px 0;
}

.footer p {
    text-align: center;
    color: var(--main-text-color);
    font-weight: 500;
}

.footer p span {
    color: var(--alternative-color);
}